{
    "all": true,
    "check-coverage": true,
    "extension": [".ts"],
    "include": [
        "dist/**/*.*"
    ],
    "exclude": [
        "test/**/*.*"
    ],
    "reporter": [
        "lcov",
        "text",
        "text-summary"
    ]
}
